In [1]:
import pandas as pd

In [3]:
df_contratos = pd.read_csv("data/Contratos.csv", sep=';')
df_contratos.head(-5)

,Doc entry,Nombre UEN,Nombre Sub UEN,Convenio actual,Nombre Convenio,Fecha real contrato,Numero Contrato,Estado del Contrato,Tipo de Contrato,Codigo plan,Nombre Plan,Sucursal
0,265278,EMPRESARIAL,EMPRESARIAL,1621,MEMBRESIA VIP CLUB SAS,1/10/2018,MVIP1810068R,CANC,NUE,S2919,INSIGNIA - MEMBRESIA VIP CLUB SAS,Of. Principal
1,265279,EMPRESARIAL,EMPRESARIAL,1621,MEMBRESIA VIP CLUB SAS,1/10/2018,MVIP1810069R,CANC,NUE,S2919,INSIGNIA - MEMBRESIA VIP CLUB SAS,Of. Principal
2,265280,EMPRESARIAL,EMPRESARIAL,1621,MEMBRESIA VIP CLUB SAS,1/10/2018,MVIP1810070R,CANC,NUE,S2919,INSIGNIA - MEMBRESIA VIP CLUB SAS,Of. Principal
3,265281,EMPRESARIAL,EMPRESARIAL,1621,MEMBRESIA VIP CLUB SAS,1/10/2018,MVIP1810071R,CANC,NUE,S2919,INSIGNIA - MEMBRESIA VIP CLUB SAS,Of. Principal
4,265284,EMPRESARIAL,EMPRESARIAL,1621,MEMBRESIA VIP CLUB SAS,1/10/2018,MVIP1810073R,CANC,NUE,S2919,INSIGNIA - MEMBRESIA VIP CLUB SAS,Of. Principal
...,...,...,...,...,...,...,...,...,...,...,...,...
391290,166830,ORGANISMOS DEL ESTADO,ORGANISMOS DEL ESTADO,903,MUNICIPIO VILLA ROSARIO,1/12/2015,MUVI1512570R,CANC,NUE,S1324,2015-UNIPERSONAL MUNICIPIO VILLA ROSARIO,Cucuta
391291,166831,ORGANISMOS DEL ESTADO,ORGANISMOS DEL ESTADO,903,MUNICIPIO VILLA ROSARIO,1/12/2015,MUVI1512571R,CANC,NUE,S1324,2015-UNIPERSONAL MUNICIPIO VILLA ROSARIO,Cucuta
391292,166832,ORGANISMOS DEL ESTADO,ORGANISMOS DEL ESTADO,903,MUNICIPIO VILLA ROSARIO,1/12/2015,MUVI1512572R,CANC,NUE,S1324,2015-UNIPERSONAL MUNICIPIO VILLA ROSARIO,Cucuta
391293,166833,ORGANISMOS DEL ESTADO,ORGANISMOS DEL ESTADO,903,MUNICIPIO VILLA ROSARIO,1/12/2015,MUVI1512573R,CANC,NUE,S1324,2015-UNIPERSONAL MUNICIPIO VILLA ROSARIO,Cucuta
391294,166834,ORGANISMOS DEL ESTADO,ORGANISMOS DEL ESTADO,903,MUNICIPIO VILLA ROSARIO,1/12/2015,MUVI1512574R,CANC,NUE,S1324,2015-UNIPERSONAL MUNICIPIO VILLA ROSARIO,Cucuta

In [4]:
df_complementarios = pd.read_csv("data/Complementarios.csv", sep=';')
df_complementarios.head(-5)

,Docentry,Sexo,CÃ³digo Seguro,Nombre Seguro,F. nacimiento,F. retiro compl.,CreateDate,Tipo complementario
0,280786,M,S04_0002,ASISTENCIA VIAL HOGAR Y MEDICA,23/01/1999,NaN,24/03/2019,Asistencia
1,280786,M,S01_0151,SEGURO ACCIDENTES CON ADICIONALES 5M - INCLUIDO,23/01/1999,NaN,24/03/2019,Accidentes
2,282115,M,S01_0151,SEGURO ACCIDENTES CON ADICIONALES 5M - INCLUIDO,11/10/1995,NaN,29/03/2019,Accidentes
3,282115,M,S04_0002,ASISTENCIA VIAL HOGAR Y MEDICA,11/10/1995,NaN,29/03/2019,Asistencia
4,280330,M,S01_0151,SEGURO ACCIDENTES CON ADICIONALES 5M - INCLUIDO,28/01/1992,NaN,24/03/2019,Accidentes
...,...,...,...,...,...,...,...,...
265175,436876,F,S04_0002,ASISTENCIA VIAL HOGAR Y MEDICA,20/07/1995,NaN,25/02/2021,Asistencia
265176,461681,M,S01_0035,SEGURO DE VIDA 5M - INCLUIDO,1/09/1994,NaN,8/10/2021,Vida
265177,374936,M,S04_0002,ASISTENCIA VIAL HOGAR Y MEDICA,13/03/1980,NaN,13/01/2020,Asistencia
265178,374936,M,S01_0155,SEGURO ACCIDENTES REPATRIACION CON ADICIONALES...,13/03/1980,NaN,13/01/2020,Accidentes
265179,374936,M,S01_0157,SEGURO VIDA CON ADICIONALES DE 30M,13/03/1980,NaN,13/01/2020,Vida

In [5]:
df_serfun = pd.read_csv("data/SerFun.csv", sep=";")
df_serfun.head(-5)

,DocNum,Tipo Prestacion,CreateDate,DocEntry,Ciudad Fallecimiento,Fecha Fallecimiento,Edad,Causa,Parentesco
0,2002468,PrevisiÃ³n Exequial,10/05/2019,7576.0,11001.0,10/05/2019,26,ACCIDENTAL,HIJO (A)
1,2025926,No Prestado,13/02/2022,463523.0,13430.0,12/02/2022,68,NATURAL,ABUELO (A)
2,2025551,No Prestado,30/01/2022,23746.0,25307.0,30/01/2022,84,NATURAL,MADRE
3,2025373,No Prestado,24/01/2022,49526.0,5001.0,24/01/2022,32,NATURAL,ESPOSO (A)
4,2025790,Particular,7/02/2022,NaN,76001.0,6/02/2022,66,NATURAL,OTRO
...,...,...,...,...,...,...,...,...,...
40215,2019162,PrevisiÃ³n Exequial,14/05/2021,378253.0,52001.0,14/05/2021,36,NATURAL,SOBRINO (A)
40216,2019375,No Prestado,21/05/2021,412370.0,52356.0,21/05/2021,56,SOSPECHA COVID 19,CUÃ‘ADO (A)
40217,2019357,PrevisiÃ³n Exequial,20/05/2021,421641.0,11001.0,20/05/2021,9,NATURAL,CAN PEQUEÃ‘O
40218,2019431,PrevisiÃ³n Exequial,23/05/2021,438381.0,11001.0,23/05/2021,7,NATURAL,CAN PEQUEÃ‘O
40219,2019717,PrevisiÃ³n Exequial,31/05/2021,45309.0,20001.0,31/05/2021,74,NATURAL,TIO (A)

In [6]:
df_beneficiarios = pd.read_csv("data/Beneficiarios.csv", sep="\t", encoding='utf-16-le')
df_beneficiarios.head(-5)

,#,DocEntry,Sexo,Numero de Documento,Parentesco,Fecha Nacimiento,Fecha Retiro,Fecha Siniestro,Fecha Crea Contrato,Unnamed: 9
0,1,1,F,31418546,HERM,24/10/1972,NaN,NaN,04/11/2008,NaN
1,2,1,F,22103662,TITU,20/10/1953,NaN,NaN,04/11/2008,NaN
2,3,1,M,96052118163,SOBR,21/05/1996,NaN,NaN,04/11/2008,NaN
3,4,1,M,98091958470,CUÃ‘A,19/09/1990,NaN,NaN,04/11/2008,NaN
4,5,1,F,43462250,PRIM,28/01/1980,NaN,NaN,04/11/2008,NaN
...,...,...,...,...,...,...,...,...,...,...
2620551,2620552,473615,F,1118638899,HJOA,01/03/2005,NaN,NaN,23/03/2022,NaN
2620552,2620553,473615,M,1118368980,SOBR,21/08/2008,NaN,NaN,23/03/2022,NaN
2620553,2620554,473615,F,1117552118,HJOA,09/12/1998,NaN,NaN,23/03/2022,NaN
2620554,2620555,473615,M,1118370206,HJOA,01/08/2009,NaN,NaN,23/03/2022,NaN
2620555,2620556,473615,F,40611347,ESPO,30/07/1983,NaN,NaN,23/03/2022,NaN